@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #454d66;
  --color-secondary: #309975;
  --color-tertiary: ##58b368;
  --color-quaternary: #dad873;
  --color-quinary: #efeeb4;
}
